<footer class="text-white bg-title py-5">
    <div class="container">

        <section class="row mb-3">
            <div class="col-12 col-lg-6 mb-5 mb-lg-0">
                <h1 class="text-white h2 m-0 mt-1">A modern and safe platform to manage and entertain your club.</h1>
            </div>
            <div class="col-12 col-lg-6">
                <div class="row">
                    <div class="col-12 col-md-4 mb-3 mb-lg-0">
                        <h2 class="text-white">App</h2>
                        <ul class="">
                            <li class="op-8 mb-1" role="button" routerLink="/login">Login</li>
                            <li class="op-8 mb-1" role="button" routerLink="/register">Get started</li>
                            <li class="op-8 mb-1" role="button" routerLink="/features">Features</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 mb-3 mb-lg-0">
                        <h2 class="text-white">About</h2>
                        <ul class="">
                            <li class="op-8 mb-1" role="button" routerLink="/privacy-policy">privacy-policy</li>
                            <li class="op-8 mb-1" role="button" routerLink="/terms-of-service">Terms of service</li>
                        </ul>
                    </div>
                    <div class="col-12 col-md-4 mb-3 mb-lg-0">
                        <h2 class="text-white">Help</h2>
                        <ul class="">
                            <li class="op-8 mb-1" role="button" routerLink="/faq">FAQ</li>
                            <li class="op-8 mb-1" role="button" routerLink="/contact">Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="row">
            <div class="col-12 col-lg-6 mb-3 mb-lg-0">
                <img routerLink="/" role="button" class="op-6" src="/assets/img/logo/batch_2/logo_white_big.png" alt="logo" />
            </div>
            <p class="col-12 col-lg-6 py-2 d-flex align-items-center mb-0">© 2020 Thibaut De Maerteleire. All rights reserved.</p>
        </section>
    </div>
</footer>