:host {
  display: block;
}

nz-header {
  z-index: 2;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}
