<app-header class="app-header mb-3">
    <h1 class="h5 m-0">Teams</h1>
</app-header>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <ng-template [ngIf]="!loading" [ngIfElse]="loadingTemplate">
                <ng-template [ngIf]="teams.length > 0" [ngIfElse]="empty" >
                    <div
                        *ngFor="let team of teams"
                        class="col-12 col-md-4 my-3"
                    >
                        <app-base-card
                            className="d-flex flex-column align-items-center py-5 py-md-5 op-8"
                            role="button"
                            routerLink="/app/team/{{team.team_id}}"
                        >
                            <nz-avatar
                                nzIcon="user"
                                [nzSize]="64"
                                [nzSrc]="assetsUrl + team.team.thumbnail"
                                [nzAlt]="'logo' + team.team.name"
                            >
                            </nz-avatar>
                            <h4 class="text-center mt-3 mb-0 shorten-text">{{team.team.name}}</h4>
                        </app-base-card>
                    </div>
                </ng-template>
            </ng-template>
        </div>
    </div>
</div>

<ng-template #loadingTemplate>
    <div class="col-12 d-flex justify-content-center my-5">
        <app-loader></app-loader>
    </div>
</ng-template>

<ng-template #empty>
    <div class="col-12">
        <app-base-card className="d-flex flex-column align-items-center">
            <nz-empty
                class="mb-3 mt-7"
                [nzNotFoundContent]="null"
                nzNotFoundFooter="No teams found"
            ></nz-empty>
            <button
                routerLink="/app/teams/create"
                class="btn border br-4 op-7 mb-7"
            >
                Add team
            </button>
        </app-base-card>
    </div>
</ng-template>
