<div class="nav-link py-0">
    <nz-select
        class="py-1 px-2"
        [nzBorderless]="true"
        [(ngModel)]="selectedLanguage"
        [nzCustomTemplate]="languageTemplate"
        [nzPlaceHolder]="languageTemplate"
        nzDropdownClassName="language-selector"
        nzSize="large"
    >
        <nz-option
            *ngFor="let language of languageEnum | keyvalue"
            [nzValue]="language.key"
            nzCustomContent
            [nzLabel]="language.key"
        >
            <span
                [class]="countryFlag.getClassName(language.key)"
            >
            </span>
        </nz-option>
    </nz-select>
    <ng-template #languageTemplate let-selected>
        <span [class]="countryFlag.getClassName(selectedLanguage)"></span>       
    </ng-template>
</div>