<div class="nav-link py-0">
    <nz-select
        class="py-1 px-2"
        [nzBorderless]="true"
        (ngModel)="selectedLanguage"
        (ngModelChange)="changeLanguage($event)"
        [nzCustomTemplate]="languageTemplate"
        [nzNotFoundContent]="languageTemplate"
        [nzPlaceHolder]="languageTemplate"
        nzSize="large"
    >
        <nz-option nzValue="GB-UKM" [nzCustomContent]="true" >
            <lib-angular-flagpack
                code="GB-UKM"
                size="m"
                gradient="top-down"
                [hasDropShadow]="true"
                [hasBorder]="false"
                [hasBorderRadius]="true"
            >
            </lib-angular-flagpack>
        </nz-option>
        <nz-option nzValue="nl" [nzCustomContent]="true" >
            <lib-angular-flagpack
                code="nl"
                size="m"
                gradient="top-down"
                [hasDropShadow]="true"
                [hasBorder]="false"
                [hasBorderRadius]="true"
            >
            </lib-angular-flagpack>
        </nz-option>
        <nz-option nzValue="fr" [nzCustomContent]="true" >
            <lib-angular-flagpack
                code="fr"
                size="m"
                gradient="top-down"
                [hasDropShadow]="true"
                [hasBorder]="false"
                [hasBorderRadius]="true"
            >
            </lib-angular-flagpack>
        </nz-option>
        <nz-option nzValue="de" [nzCustomContent]="true" >
            <lib-angular-flagpack
                code="de"
                size="m"
                gradient="top-down"
                [hasDropShadow]="true"
                [hasBorder]="false"
                [hasBorderRadius]="true"
            >
            </lib-angular-flagpack>
        </nz-option>
    </nz-select>
    <ng-template #languageTemplate let-selected>
        <lib-angular-flagpack
            [code]="selectedLanguage"
            size="m"
            gradient="top-down"
            [hasDropShadow]="true"
            [hasBorder]="false"
            [hasBorderRadius]="true"
        >
        </lib-angular-flagpack>
    </ng-template>
</div>