:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.header-trigger {
  height: 4rem;
  padding: 1.25rem 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

nz-content {
  background: #fff;
  height: 100%;
}

.logo {
  &:hover {
    transition: all 0.3s;
    opacity: 0.8;
  }

  &-mobile {
    transform: scale(1.5);
  }
}