shared-language-selector {

  .ant-select-arrow, .ant-select-clear {
    margin-top: -0.55rem;
  }
}

.language-selector {
  .ant-select-item-option-content {
    display: flex;
    justify-content: center;
  }
}