.custom-input {
  border: 0.25rem solid var(--bs-placeholder);

  &:focus-within {
    transition: all 0.3s ease;
    border: 0.25rem solid var(--bs-purple) !important;
  
    i:first-child {
      transition: all 0.3s ease;
      color: var(--bs-title) !important;
    }
  }

  i:first-child {
    font-size: 2rem;
    color: var(--bs-placeholder);
  }
  
  &-subtitle {
    font-size: 0.8rem;
  }

  input {
    outline: 0;
  }

  .delete {
    transition: all 0.3s ease;
    font-size: 2.5rem;
    color: var(--bs-placeholder);

    &:hover {
      color: var(--bs-title);
    }
  }

}
