<div class="custom-input d-flex justify-content-between align-items-center p-3 br-4 w-100 {{ class }}">
    <div
        class="d-flex align-items-center"
        role="button"
    >
        <i
            *ngIf="!checkIconType()"
            (click)="iconClick()"
            nz-icon
            class="m-2"
            [nzType]="icon"
            nzTheme="outline"
            [attr.for]="name"
        ></i>
        <i
            *ngIf="checkIconType()"
            (click)="iconClick()"
            class="m-2 {{icon}}"
        ></i>
        <div class="d-flex flex-column ms-2">
            <label
                [for]="name"
                class="text-label custom-input-subtitle fw-6 text-uppercase {{inputField.value.length > 0 ? 'pr-2' : 'pr-5'}}"
            >
                {{ subtitle }}
            </label>
            <input
                #inputField
                [value]="defaultInputValue"
                [id]="name"
                class="border-0 shadow-none p-0 text-title"
                [type]="inputType"
                [formControl]="input"
                (ngModelChange)="returnInputValue(inputField.value)"
                [placeholder]="placeholder"
            />
        </div>
    </div>
    <i
        *ngIf="inputField.value.length > 0"
        role="button"
        class="bi bi-x delete"
        (click)="inputField.value = ''"
    ></i>
</div>