<div class="row">
    <p class="col-12 intro-text mb-4">
        Fill in all the necessary data to create a new team. After you filled in all of the data you can click on the next button at the bottom of the page.
    </p>
    <div class="col-12 col-md-6">
        <div class="form-group mb-3">
            <label
                for="name"
                class="w-100 fw-6 fs-3 mb-1"
            >
                Name
            </label>
            <app-small-custom-input
                name="name"
                placeholder="name"
                [defaultInputValue]="startData.name"
                (changeValueEvent)="this.nameEvent.emit($event)"
            >
            </app-small-custom-input>
        </div>
        <div class="form-group mb-3">
            <label
                for="slogan"
                class="w-100 fw-6 fs-3 mb-1"
                >
                Slogan
            </label>
            <app-small-custom-input
                name="slogan"
                placeholder="slogan"
                [defaultInputValue]="startData.slogan"
                (changeValueEvent)="this.sloganEvent.emit($event)"
            >
            </app-small-custom-input>
        </div>
        <div class="form-group mb-3">
            <label
                for="description"
                class="w-100 fw-6 fs-3 mb-1"
            >
                Description
            </label>
            <app-small-custom-input
                name="description"
                placeholder="description"
                [defaultInputValue]="startData.description"
                (changeValueEvent)="this.descriptionEvent.emit($event)"
            >
            </app-small-custom-input>
        </div>
    </div>
    <div class="col-12 col-md-6">
        <div class="form-group">
            <label
                class="w-100 fw-6 fs-3 mb-1"
            >
                Upload thumbnail
            </label>
            <app-image-upload
                className="upload-full"
                (responseEvent)="this.thumbnailEvent.emit($event)"
                placeholder="thumbnail"
            >
            </app-image-upload>
        </div>
    </div>
</div>