// Border-radius
// 

@each $name, $value in $spacers {
  .br-#{$name} {
    border-radius: $value;
  }

  .line-#{$name} {
    height: $value;
    background-color: $line;
    border-radius: $value;
  }

  @each $br-name, $br-val in $grid-breakpoints {
    @include media-breakpoint-up($br-name) { 
      .br-#{$br-name}-#{$name} {
        border-radius: $value;
      }

      .line-#{$name}-#{$name} {
        height: $value;
        background-color: $line;
        border-radius: $value;
      }
    
    }
  }
}

@each $name, $color in $theme-colors {
  .bc-#{$name} {
    border-color: $color !important;
  }
}

.line {
  height: 0.25rem;
  background-color: $line;
  border-radius: 0.25rem;
}