<app-header class="app-header mb-3">
    <h1 class="h5 m-0">Create team</h1>
</app-header>
<div class="container-fluid row">
    <div class="col-12 mt-2 mb-4">
        <nz-steps>
            <nz-step nzTitle="Info" [nzStatus]="getStatus(0)" nzIcon="solution"></nz-step>
            <nz-step nzTitle="Find club" [nzStatus]="getStatus(1)" nzIcon="flag"></nz-step>
            <nz-step nzTitle="Select team" [nzStatus]="getStatus(2)" nzIcon="team"></nz-step>
            <nz-step nzTitle="Add players" [nzStatus]="getStatus(3)" nzIcon="usergroup-add"></nz-step>
            <nz-step nzTitle="Done" [nzStatus]="getStatus(4)" nzIcon="check-circle"></nz-step>
        </nz-steps>
    </div>
    <app-carousel-pagination
        class="mb-3"
        [widthPercentage]="carouselWidth()"
    >
    </app-carousel-pagination>
    <div class="col-3 d-flex align-items-center">
        <button
            class="btn border op-7"
            [disabled]="step === 0 "
            (click)="slide(this.swiper.pre(), step - 1)"
        >
            Previous
        </button>
    </div>
    <p class="col-6 text-center align-items-center text-red">{{error}}</p>
    <div class="col-3 d-flex align-items-center justify-content-end">
        <button
            class="btn border op-7 {{step === maxStep || this.slideValidation().length > 0 ? '' : 'bg-antd-blue text-white'}}"
            [disabled]="step === maxStep || this.slideValidation().length > 0"
            (click)="slide(this.swiper.next(), step + 1)"
        >
            Next
        </button>
    </div>
    <div class="col-12 mt-3">
        <nz-carousel
            #swiper
            class="mt-2"
            [nzDots]="false"
            [nzEnableSwipe]="false"
        >
            <div nz-carousel-content class="mw-100">
                <app-info-create-team
                    [startData]="body"
                    (nameEvent)="body.name = $event"
                    (sloganEvent)="body.slogan = $event"
                    (descriptionEvent)="body.description = $event"
                    (thumbnailEvent)="body.thumbnail = $event"
                >
                </app-info-create-team>
            </div>
            <div nz-carousel-content class="mw-100">
                <app-find-club-widget
                    [select]="true"
                    (selectedTeamId)="this.body.rbfa_club_id = $event.toString()"
                >
                </app-find-club-widget>
            </div>
            <div nz-carousel-content class="mw-100">
                <app-select-team-widget
                    [clubId]="this.body.rbfa_club_id"
                    (submitSelected)="this.body.rbfa_team_id = $event.toString()"
                >
                </app-select-team-widget>
            </div>
            <div nz-carousel-content class="mw-100">
                <app-add-players-widget
                    (submitPlayers)="this.body.players = $event"
                >
                </app-add-players-widget>
            </div>
            <div nz-carousel-content class="mw-100">
                <div class="container-fluid py-5 d-flex {{!submittedTeamId ? 'flex-column' : ''}} align-items-center justify-content-center">
                    <ng-template [ngIf]="!loading" [ngIfElse]="loadingTemplate">
                        <ng-template [ngIf]="!submittedTeamId" [ngIfElse]="isSubmitted" >
                            <lottie-player
                                src="/assets/icons/upload-cloud.json"
                                background="transparent"  speed="1"  style="width: 200px; height: 200px;"
                                loop
                                autoplay
                            >
                            </lottie-player>
                            <p>Click on submit and save your team in the cloud.</p>
                            <button
                                class="btn bg-purple text-white br-3 mt-1"
                                role="button"
                                (click)="submit()"
                            >
                                Submit
                            </button>
                        </ng-template>
                    </ng-template>
                </div>
            </div>
        </nz-carousel>
    </div>
</div>

<ng-template #isSubmitted>
    <button
        class="btn bg-purple text-white br-3 me-2"
        role="button"
        routerLink="/app/team/{{submittedTeamId}}"
    >
        check team
    </button>
    <button
        class="btn bg-purple text-white br-3"
        role="button"
        (click)="addOtherTeam(this.swiper.goTo(0))"
    >
        Add another team
    </button>
</ng-template>

<ng-template #loadingTemplate>
    <div class="w-100 d-flex justify-content-center">
        <app-loader></app-loader>
    </div>
</ng-template>