<nz-upload
    class="avatar-uploader {{className}}"
    [nzAction]="uploadUrl"
    nzName="avatar"
    [nzHeaders]="headers()"
    nzListType="picture-card"
    [nzBeforeUpload]="beforeUpload"
    [nzShowUploadList]="false"
    (nzChange)="handleChange($event)"
>
    <ng-container *ngIf="!avatarUrl">
        <i class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></i>
        <div class="ant-upload-text ms-1">{{placeholder}}</div>
    </ng-container>
    <img *ngIf="avatarUrl" class="mh-100" alt="uploaded avatar" [src]="avatarUrl" style="width: 100%" />
</nz-upload>