:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.menu-sidebar {
  z-index: 10;
  box-shadow: 2px 0 6px rgba(0,21,41,.35);
}

.header-trigger {
  height: 4rem;
  padding: 1.25rem 1.5rem;
  font-size: 1.25rem;
  cursor: pointer;
  transition: all .3s,padding 0s;
}

.trigger:hover {
  color: #1890ff;
}

nz-header {
  z-index: 2;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0,21,41,.08);
}

nz-content {
  margin: 1.5rem;
}

.inner-content {
  padding: 1.5rem;
  background: #fff;
  height: 100%;
}